/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Courgette&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,600&family=Patrick+Hand&family=Source+Sans+Pro:wght@600&display=swap');

/*@media (max-width: 767px) {
    .container {
      margin-top: 100px;
    }
  }
  */
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #0877cf;
  --bg-color: white;
  --first-color-light: #66c3e0;
  --black-color: #213a60;
  --text-color: #b5d7e6;
  --body-color: #62829b;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h3-font-size: 1.125rem;
  --smaller-font-size: 0.75rem;
}
/*title*/
h1{
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Courgette', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    text-align: center;
    color: var(--first-color);
    font-weight: 500;
    text-shadow: 0px 3px black;
    position: relative;
    top:4.5rem;
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;

}

body {
  font-family: var(--body-font);
  background: radial-gradient(circle,rgb(221, 217, 217),#9ecbf9);  
  margin-bottom: 20px;
}
.navlogo{
  height:1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.containercard {
    display: flex;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    /* gap: 50px; */
    flex-wrap: wrap;
    /* margin-inline: 1.5rem;
    margin-inline: 1.5rem; */
    justify-content: center;
    place-items: center;
    position: relative;
    top:3.5rem;
  }
  
.card {
  flex-basis: calc(25% - 20px);
  position: relative;
  width: 256px;
  background-color: var(--black-color);
  padding: 1rem 0rem 3rem 0rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
  margin: 3.5rem;/*relative size to my screen size*/
}

.card__img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.card__border {
  width: 110px;
  height: 110px;
  border: 2px solid var(--first-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto 0.75rem;
}

.card__name {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  font-weight: 500;
}

.card__profession {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.card__social {
  width: 200px;
  background-color: var(--text-color);
  padding: 0.75rem;
  border-radius: 3rem;
  text-align: initial;
  box-shadow: 0 8px 24px hsla(29, 75%, 56%, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.75rem;
  margin: 0 auto;
  overflow: hidden;
  transform-origin: 18px 17px;
}

.card__social-control {
  position: relative;
  transform-origin: 18px 18px;
  transition: transform 0.45s ease;
  transform: rotate(0);
}

.card__social-toggle {
  display: inline-flex;
  background-color: var(--black-color);
  color: var(--first-color);
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.card__social-text {
  display: block;
  color: var(--black-color);
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.card__social-list {
  display: inline-flex;
  column-gap: 0.75rem;
  transform: rotate(135deg);
  transform-origin: 18px 17px;
}

.card__social-link {
  display: inline-flex;
  background-color: var(--first-color-light);
  color: var(--black-color);
  font-size: 1.25rem;
  padding: 6px;
  border-radius: 50%;
}

.card__social-text,
.card__social-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 3.1rem;
}

.card__social-text {
  top: 0.5rem;
}

/* Rotate social */
.animation .card__social-control {
  transform: rotate(-135deg);
}

/* Up animation */
.card__social.animation {
  animation: up-animation 1s ease-in-out forwards;
}

@keyframes up-animation {
  0%,
  100% {
    transform: rotate(0);
  }
  50%,
  60% {
    transform: rotate(-3deg);
  }
  88% {
    transform: rotate(1deg);
  }
}

/* Down animation */
.card__social.down-animation {
  animation: down-animation 1s ease-in-out forwards;
}

@keyframes down-animation {
  0%,
  100% {
    transform: rotate(0);
  }
  50%,
  60% {
    transform: rotate(6deg);
  }
  0%,
  88% {
    transform: rotate(-1deg);
  }
}

@media(max-width:1024px)
{
  h1{
    font-family: var(--body-font);
    font-size: 40px;
    text-align: center;
    color: var(--first-color);
    font-weight: 500;
    text-shadow: 0px 3px black;
}
.card {
  flex-basis: calc(25% - 20px);
  position: relative;
  width: 256px;
  background-color: var(--black-color);
  padding: 1rem 5rem 3rem 5rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
  margin: 1.5rem;/*relative size to my screen size*/
}
.containercard {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  /* gap: 50px; */
  flex-wrap: wrap;
  /* margin-inline: 1.5rem;
  margin-inline: 1.5rem; */
  justify-content: center;
  place-items: center;
  position: relative;
  top:6rem;
}
}
/* Navbar */
/*  sidenav css*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  background-color: #305891;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  padding: 8px 8px 8px 70px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  font-size:30px;
  text-decoration: underline;
  color:white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}
.sidenav .closebtn:hover{
  color:red ;
}


.navButtonbg{
 /* height:35px;
  width:35px;*/
/*  align-self: flex-end;*/
}

.navButton{
  font-size:30px;
  font-weight: 600;
  cursor:pointer;
  z-index:998;
  position: fixed;
  top:4vh;
  transform: translate(-50%,-50%);
  right:5%;
  display: none;
}
.navbody{
  background-color: #ffffff;
  width:100vw;
  height:8vh;
/*  justify-content: center;*/
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid lightgrey;
/*  flex-wrap: wrap;*/
  
}
.navlogo{
  height:4rem;
  width: 4rem;
  top:4vh;
  transform: translate(-50%,-50%);
  margin-left: 40px;
  position: fixed;
  z-index: 10;
}
.logo_name{
/*  right: 60px;*/
/*margin-left: 100px;*/
/*right: 2px;*/
/*z-index: 998;*/
}

.navname1{
  position: fixed;
  right:7% ;
  top:4vh;
  transform: translate(0%,-50%);
  margin-right:30px;
  font-weight: 600;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.navname2{
  visibility: hidden;
  position: fixed;
  right:10% ;
  top:4vh;
  transform: translate(0%,-50%);
  margin-right:30px;
  font-weight: 700;
  font-size:medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

}

.navitems{
  display: flex;
  align-items: left;
  align-content: center;
  flex-direction: column;
  margin-top: 0.5rem;
}
.fullnavitem:hover{
  color:#001d42;
  text-decoration: underline;
  transform: scale(1.1);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fullnavul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  width: 100vw;
  height: 8vh;
  /* margin-right: 150px; */
  padding-right: 70px;
  display: flex;
  justify-content: flex-end;
  /* position:fixed; */
  /* flex-direction: row-reverse; */
}

/* .fullnavul li:first-child {
  border-right:1px solid #bbb;
  height: 8vh;
} */

.fullnavul li:last-child {
  border-right: none;
}

.fullnavul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 400;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

}

.fullnavul li a:hover:not(.active) {
  text-decoration: underline;
}

@media screen and (max-width: 600px){
  .navname1{

visibility: hidden;
  }
  .fullnav{
    visibility: hidden;
  }
  .navButton{
    display: inline;
  }
  .navname2{
    visibility: visible;
/*    margin-right: 10px;*/
  }

.navbody{
  height:7vh;
}
.navlogo{
  width:3rem;
  height:3rem;
}
}
/*footer*/
/* footer {
  width: 100%;
 
  background: linear-gradient(to right, #4797ff,#001d42);
 
  padding: 50px 0 30px;
  border-top-left-radius:0px;
  font-size: 13px;
  line-height: 25px;
  margin-top: 4rem;
  margin-bottom:-1.2rem;
  
}

.row {
  width: 85%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 10px;
  position: relative;
}

.col p{
  font-size:15px;
}

.col a{
color:#fff;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .far {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fas {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
  color:white;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
 position: absolute;
  top: 25px;
  left: 0;
  margin-top:1.5rem;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
    margin-top: 8rem;
  }
  .col {
    flex-basis: 100%;
  }

  .col:nth-child(2), .col:nth-child(3) {
    flex-basis: 100%;
  }
}
.panel-body{
  color:#023650;
}
.foot_icon{
  color:black;
  background-color: white;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
  width:3.5rem;
  height:3.5rem;
  align-items: center;
  padding:0.9rem;
}
.social-icons{
  margin-top: 2rem;
}
@media(max-width:1024px)
{
  .foot_icon{
    color:black;
    background-color: white;
    border-radius: 50%;
    margin-right:1rem;
    margin-left:1rem;
    width:3.5rem;
    height:3.5rem;
    margin-bottom:2rem;
    align-items: center;
    padding:0.9rem;
  }
  .social-icons{
    margin-top: 0rem;
    margin-left: -1rem;
  }

}
 */
 .logo{
  width:150px;
  height:135px;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  outline: none;
  text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 45px;
  margin-top: 4rem;
  background: linear-gradient(to right, #4797ff,#001d42);
}

.footer .footer-logo,
.footer .footer-address,
.footer .footer-link,
.footer .footer-contact {
  position: relative;
  margin-bottom: 45px;
  color: #dddddd;
}

.footer .footer-logo h3,
.footer .footer-address h3,
.footer .footer-link h3,
.footer .footer-contact h3 {
  position: relative;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer .footer-link a {
  display: block;
  margin-bottom: 10px;
  color: #dddddd;
  transition: 0.3s;
  text-transform: capitalize;
  font-size: 18px;
}

.footer .footer-link a::before {
  position: relative;
  /* content: "\f105";
  font-family: "Font Awesome 5 Free"; */
  font-weight: 900;
  margin-right: 10px;
}

.footer .footer-link a:hover {
  color: #9accff;
  letter-spacing: 1px;
}

.footer .footer-contact p i {
  width: 25px;
}

.footer .footer-social {
  position: relative;
  margin-top: 20px;
}

.footer .footer-social a {
  display: inline-block;
}

.footer .footer-social a i {
  margin-right: 15px;
  font-size: 25px;
  color: #ffffff;
}

.footer .footer-social a:last-child i {
  margin: 0;
}

.footer .footer-social a:hover i {
  color: #9accff;
}

.footer .footer-menu .f-menu {
  position: relative;
  padding: 10px 0;
  font-size: 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu .f-menu a {
  color: #dddddd;
  font-size: 8px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu .f-menu a:hover {
  color: #0085ff;
}

.footer .footer-menu .f-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.footer .copyright {
  padding: 30px 15px;
}

.footer .copyright p {
  margin: 0;
  color: #dddddd;
  text-align: center;
}

.footer .copyright .col-md-6:last-child p {
  text-align: right;
}

.footer .copyright p a {
  color: #0085ff;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer .copyright p a:hover {
  color: #ffffff;
}

.footer-address p{
  font-size: 18px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}
.col{
  margin-left: 8rem;
}
@media (max-width: 768px) {
  .footer .copyright p,
  .footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
  }
  .col{
    margin-left:1.35rem;
  }
  .footer{
    margin-top: 8rem;
  }
}
